@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Body Styles */
body {
    max-width: 1600px;
    margin: 0px auto;
}
.hide{
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
}

/* Navbar Styles */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #1A0B2E;
    /* border-bottom: 1px solid rgba(220, 220, 220, 0.068); */
}

/* logo styles */

.logo {
    font-size: 2.5rem;
    font-weight: 800;
    color: transparent;
}
.normal-text {
    color: #FFFFFF;
}
.grad-text {
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
}

/* nav-list Styles */
.nav-list {
    display: flex;
    gap: 32px;
}
.nav-list li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-list li a {
    color: #FFFFFF;
    text-decoration: none;
}
.sub-btn {
    height: 44px;
    width: 135px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
}
.sub-btn a {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}
.hamburger-icon{
    display: none;
}

/* Hero Styles */
.hero{
    height: 760px;
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.badge{
    max-width: 43px;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    background-color: #00FF88;
    padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: relative;
    left: 760px;
    bottom: 340px;
}
.hero-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-images {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 350px;
    border: 1px solid red;
    margin-left: 600px;

}
.hero-mic{
    position: relative;
    left: 266px;
    bottom: 100px;
}
.hero-circle{
    margin-top: 101px;
    position: relative;
    left: 500px;
}
.hero-content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slogan{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
}
.hero-description{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 24px;
    text-align: center;
}
.dual-button{
    display: flex;
    gap: 8px;
    /* padding-bottom: 101px; */
}
.no-txt-dec{
    text-decoration: none;
}
.color-green{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}
.color-white{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}
.spotify-btn{
    width: 201px;
    height: 44px;
    padding: 12px 20px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
}
.subscribe-btn{
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
}


/* About Styles */

.about-podcast{
    background-color: #1A0B2E;
}
.about-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.about-description{
    margin-top: 16px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    max-width: 1200px;
    line-height: 20px;
}
.line{
    max-width: 1200px;
    margin: 0px auto;
    color: #ffffff1f;
    background-color: #1A0B2E;
}
.card-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-top: 80px;
    padding-bottom: 120px;
}
.card h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.card p{
    font-size: 1rem;
    color: #FFFFFF;

}

/* Benefit Styles */

.benefits{
    background-color: #230E3D;
}
.benefit-title{
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
/* .premium-audio{
    place-items: center;
} */
.grid-area-header{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}
.grid-area-paragraph{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
}
.premium-audio img{
    margin-top: 50px;
}
.benefit-container{
    padding-bottom: 120px;
    margin-left:  auto;
    margin-right:  auto;
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "pa mf mf mf"
    "pa gc gc gc"
    "ei ei ei rr";
}
.benefit-container>*{
    /* border: 3px solid red; */
    border: none;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}
.premium-audio{
    grid-area: pa;
}
.mobile-friendly{
    grid-area: mf;
}
.global-community{
    grid-area: gc;
}
.exclusive-interviews{
    grid-area: ei;
}
.rich-resources{
    grid-area: rr;
}




@media screen and (max-width: 576px) {

    /* navbar styles */

    .nav-list, .sub-btn{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hamburger-icon{
        display: block;
    }
    .hamburger-icon:hover{
        cursor: pointer;
    }
    /* .hero{
        width: 100%;
        background-image: ;
    } */
    .about-podcast{
        padding: 40px 20px;
    }
    .about-title{
    text-align: center;
    font-size: 2rem;
    }
    .about-description{
        margin-bottom: 40px;
    }
    .card-container{
        gap: 40px;
        grid-template-columns: repeat(2,1fr);
    }
    .benefits{
        padding: 20px;
        gap: 24px;
    }
    .benefit-title{
    padding-top: 40px;
    padding-bottom: 16px;
    font-size: 2rem;
    }
    .benefit-container{
        grid-template-areas: 
        "pa"
        "mf"
        "gc"
        "ei"
        "rr";
    }

}

