@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Body Styles */
body {
    max-width: 1600px;
    margin: 0px auto;
}
.hide{
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
}

/* Navbar Styles */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(220, 220, 220, 0.068);
}

/* logo styles */

.logo {
    font-size: 2.5rem;
    font-weight: 800;
    color: transparent;
}
.normal-text {
    color: #FFFFFF;
}
.grad-text {
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
}

/* nav-list Styles */
.nav-list {
    display: flex;
    gap: 32px;
}
.nav-list li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-list li a {
    color: #FFFFFF;
    text-decoration: none;
}
.sub-btn {
    height: 44px;
    width: 135px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
}
.sub-btn a {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}
.hamburger-icon{
    display: none;
}

/* Hero Styles */
.hero{
    height: 760px;
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.badge{
    width: 43px;
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    background-color: #00FF88;
    padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    transform: translateX(130px) translateY(130px);
    z-index: 3;


    animation-name: shake;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-delay: 9ms;
    animation-iteration-count: infinite;
}
.hero-images{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.hero-mic{
    max-width: 116.67px;
    max-height: 175px;
    position: absolute;
    z-index: 2;
    transform: translateX(0px) translateY(180px);
}
.hero-circle{
    margin-top: 7%;
    max-width: 350px;
    max-height: 350px;
    transform: translateX(0px) ;
    z-index: 1;
}
.slogan{
    padding-top: 40px;
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
}
.hero-description{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 24px;
    text-align: center;
}
.dual-button{
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
.no-txt-dec{
    text-decoration: none;
}
.color-green{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}
.color-white{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}
.spotify-btn{
    width: 201px;
    height: 44px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    box-sizing: border-box;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
}
.spotify-btn:hover{
    color: #FFFFFF;
    background: #9100F8;
    transition: background 1000ms ease;
}
.subscribe-btn{
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
}
.subscribe-btn:hover{
    color: #250D44;
    background-color: #00FF88;
    transition: background-color 1500ms ease;
}

@keyframes shake {
    0%{
        transform: translateX(130px) rotate(2deg) translateY(130px);
    }
    25%{
        transform: translateX(130px) rotate(-2deg) translateY(130px);
    }
    50%{
        transform: translateX(130px) rotate(2deg) translateY(130px);
    }
    75%{
        transform: translateX(130px) rotate(-2deg) translateY(130px);
    }
    100%{
        transform: translateX(130px) rotate(2deg) translateY(130px);
    }
}


/* About Styles */

.about-podcast{
    background-color: #1A0B2E;
}
.about-title{
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.about-description{
    margin-top: 16px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    opacity: 80%;
    max-width: 1200px;
    line-height: 20px;
}
.line{
    max-width: 1200px;
    margin: 0px auto;
    color: #FFFFFF;
    opacity: 10%;
    background-color: #1A0B2E;
}
.card-container{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    /* column-gap: 80px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-top: 80px;
    padding-bottom: 120px;
}
.card h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.card p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 80%;

}

/* Benefit Styles */

.benefits{
    background-color: #230E3D;
}
.benefit-title{
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.bolt{
    font-size: 2.8rem;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#paq{
    max-width: 300px;
}
.grid-area-header{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}
.grid-area-paragraph{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}
.premium-audio img{
    margin-top: 50px;
}
.benefit-container{
    padding-bottom: 120px;
    margin-left:  auto;
    margin-right:  auto;
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "pa mf mf mf"
    "pa gc gc gc"
    "ei ei ei rr";
}
.benefit-container>*{
    border: none;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}
.premium-audio{
    grid-area: pa;
}
.mobile-friendly{
    grid-area: mf;
}
.global-community{
    grid-area: gc;
}
.exclusive-interviews{
    grid-area: ei;
}
.rich-resources{
    grid-area: rr;
}

/* featured-episodes styles */

.featured-episodes{
    background-color: #1A0B2E;
    padding-top: 120px;
}
.featured-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #FFFFFF;
}

/* video related styles */


.video-card-container{
    max-width: 1200px;
    margin-top: 35px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.video{
    overflow: hidden;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 380px;
    height: 214px;
}
.video-card{
    border: none;
    border-radius: 32px;
    max-width: 380px;
    background-color: #250D44;
}
.video-content{
    padding: 24px;
}
.video-title{
    margin-bottom: 12px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
}
.video-description{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 12px;
}
.video-time-stamp{
    color: #00FF88;
}

/* host section styles */

.host-section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.host-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.host-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
    max-width: 1200px;
    margin-right:  auto;
    margin-left: auto;
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
}
.host-content h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-content p {
    max-width: 896px;
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}
.host-icons{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.linkedin-icon, .x-icon,
.instagram-icon, .yt-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #533C72;
    border-radius: 50%;
}
footer{
    height: 348px;
    background: url(../assets/footer-bg.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo{
    font-size: 3.5rem;
    text-align: center;
    /* padding-top: 120px; */
    margin-bottom: 32px;
}
.footer-icon-container{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    gap: 40px;
}
.footer-icon-container>div{
    display: flex;
    gap: 8px;
}
.footer-icon-container div p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
}
.copyright{
    /* margin-top: 32px; */
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
}




@media screen and (max-width: 576px) {

    /* navbar styles */
    /* body{
        overflow-x: hidden;
    } */

    .nav-list, .sub-btn{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hamburger-icon{
        display: block;
    }
    .hamburger-icon:hover{
        cursor: pointer;
    }
    .hero-mic{
        max-width: 116.67px;
        max-height: 175px;
        position: absolute;
        z-index: 2;
        transform: translateY(180px);
    }
    .hero-circle{
        max-width: 350px;
        max-height: 350px;
        transform: translateX(0px) translateY(60px) ;
        z-index: 1;
    }
    .slogan{
        margin-top: 40px;
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }
    .dual-button{
        gap: 15px;
    }
    .about-podcast{
        padding: 40px 20px;
    }
    .about-title{
        text-align: center;
        font-size: 2rem;
    }
    .about-description{
        margin-bottom: 40px;
    }
    .card-container{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        gap: 33px;
        margin-top: 80px;
        padding-bottom: 120px;
}
    .benefits{
        padding: 20px;
        gap: 24px;
    }
    .benefit-container{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }
    .benefit-title{
        line-height: 40px;
        padding-top: 40px;
        padding-bottom: 16px;
        font-size: 2rem;
    }
    #paq{
        text-align: left;
        max-width: 352px;
    }
    .benefit-container{
        max-width: 400px;
        grid-template-areas: 
        "pa"
        "mf"
        "gc"
        "ei"
        "rr";
    }
    .featured-title{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 24px;
        color: #FFFFFF;
    }
    .featured-episodes{
    padding-top: 40px;
}
    .video-card-container{
        box-sizing: border-box;
        width: 100%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        /* padding-left: 10px;
        padding-right: 10px; */
        padding-bottom: 60px;
    }
    .video-card{
        width: 100%;
    }
    .video{
        width: 100%;
    }
    .host-title{
        font-size: 2rem;
        margin-bottom: 24px;
    }
    /* .host-section{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    } */
    .host-card{
        box-sizing: border-box;
        flex-direction: column;
        padding: 24px;
        width: 95%;
        margin-right:  auto;
        margin-left: auto;
    }
    .host-content h3 {
        text-align: center;
        max-width: 352px;
    }
    .host-content p {
        text-align: center;
        max-width: 352px;
    }
    .host-icons{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    }
    footer{
        height: 348px;
        background: url(../assets/footer-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .footer-icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
    gap: 40px;
    }
    .footer-logo{
    font-size: 2rem;
    text-align: center;
    /* padding-top: 120px; */
    margin-bottom: 32px;
}

}

@media screen and (min-width:576px) and (max-width: 972px) {
    
}

